/* The code on lines 2-4 centers the text of all h1's on the page.*/
h1{
   text-align:center;
   font-size: 45px;
   color: #f90101;
   font-family: fantasy;
   text-shadow: 10px 10px 10px #ffa3b6, 10px 10px 5px #1559c6;
  border:15px inset #e088f2 ;
  border-radius: 10%;
  padding: 5px;
  
}
/*The code on lines 6-11 centers all images on the page and gives them a width of 400px.*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:550px;
}

/* The code on lines 14-16 centers the text of all h2's on the page*/
h2{
    text-align:center;
    color: #ff4242;
    font-family: monospace;
  
}

/* The code on lines 19-22 aligns all the sections horizontally on the bottom*/
.sectionsContainer{
    display:flex;
    justify-content:center;
}

/* The code on lines 25-28 gives  a solid black border to section and puts space between them (the margin) */
.section{
    border: 7px #ff7a7a solid;
    margin:5px;
  padding: 2px;
  background: black;
  display: flex;
  justify-content: space-between;
}
body{
      background-color: #89e1e1;
}
.general {
  color: #ff0000;
}
.why {
  color: #0008ff;
}
.how {
  color: magenta;
}
.video {
  background: gainsboro;
  display: flex;
  justify-content: center;
}
.general:hover {
  color: #f56666;
}
.how:hover {
  color: violet;
}
.why:hover {
  color:#6464f7;
}
img:hover {
  opacity: 1.0;
}
    